<!doctype html>
<!--
DEMO PAGE FOR COMPONENT '<%=elementName%>'
-->
<html>
  <head>
    <title>DEMO <%=elementName%></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="<%=elementName%>.html">

    <style is="custom-style">
    </style>

  </head>

  <body unresolved>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }
      </style>
      <div>
        <h4>Demo: <%=elementName%></h4>
        <div class="horizontal-section">
          <<%=elementName%> id="myelement" greet="{{test}}" on=greet-event="handeGreet" ></<%=elementName%>>
        </div>
      </div>
    </div>
  </template>
  </dom-module>


  <script>
  Polymer({
        is: 'x-app',
        properties: {
          test: {
            type: String,
            value: 'PolymerTS'
          }
        },
        listeners: {},
        handleGreet: function(e) {
            console.log('handle gree event!', e);
        },
        ready: function() {
          console.log("APP ready" );

        }
      });

        (function(document) {
          'use strict';
        })(document);
  </script>

  </body>
</html>
